* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f8fb;
}

#main {
  display: flex;
  height: 100vh;
  /* overflow: hidden; */
}

#page1 {
  display: flex;
  flex: 1;
  position: relative;
  overflow: hidden;
  user-select: none;
  
}

.left-nav {

  display: flex;
  justify-content: start;
  flex-direction: column;
  background-color: #ffffff;
  border-right: 1px solid #e0e0e0;
  padding: 4vh;
  overflow-y: none;
  width: 20vw;
  transition: ease-in-out 0.3s;

}


.top {
  padding-bottom: 4.5vh;
  /* padding: 1em 1.2em; */
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
  position: relative;
 
}
.top #closeNavbar {
  position: absolute;
  left: 0;
  cursor: pointer;

}

.bottom {
margin-top: 1.2em;
}

.bottom div {
  padding: 0.5em 0;
  margin-top: 0.5em;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  text-align: center;
  color: #777;
  padding-top: 1em;
}
/* .footer .author {} */

.right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
  position: relative;
}
.right #menuBar {
  font-size: 1.3em;

}
.right .right-navbar {
  width: 100%;
  padding: 1em 1.2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #e0e0e0;
  
}
.right-navbar #subName {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.right-navbar #menuBar {
  position: relative;
  color: #000000;
}

i {
  cursor: pointer;
}
.right-navbar .right-navbar-right{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5em;
}
.right-navbar .right-navbar-right button{
  border: 1px solid #111;
  cursor: pointer;
  padding:8px;
  border-radius: 15px;
  font-size: 1em;

}
.chat-box {

  flex: 1;
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #f5f8fb;
  min-width: 70vw;
  max-width: 70vw;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  user-select: text;
  font-size: 1em;
  

}
.chat-box h2{
 
  margin-bottom: 0.5em;
  margin-top: 0.2em;
  /* font-size: 1rem; */
  font-size: 1em;
}
.chat-box h3{
  margin:10px 0 10px 0;
  font-size: 1em;
  /* font-size: 1rem; */
 }
.chat-box::-webkit-scrollbar {
  width: 8px;
}
.chat-box::-webkit-scrollbar-track {
  border-radius: 25px;
  background-color: rgb(226, 224, 224);
}
.chat-box::-webkit-scrollbar-thumb {
  background-color: rgb(89, 89, 91);
}
.chat-box::-webkit-scrollbar-thumb:hover {
  background-color: rgb(9, 9, 9);
}
.user-message {
  display: flex;
  gap: 10px;
}
.bot-message {
  display: flex;
  gap: 10px;
}
.chat-box i,
.bot-message i {
  font-size: 20px;
  background: -webkit-linear-gradient(#dd48ff, #0400de);


  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.chat-box >h1 {
  font-size: 50px;
  background: -webkit-linear-gradient(45deg, #cb33e9, #102ae8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  user-select: none;
  
}

.input-div {
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 10px;
  min-width: 60vw;
}

#user-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
}

#send-btn {
  padding: 10px;

  margin-left: 10px;
  border: none;
  border-radius: 50%;
  background-color: #0b0b0b;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#send-btn:hover {
  background-color: #0056b3;
}


@media (max-width: 700px) {
  .left-nav {
    display: none;
    z-index: 5;
    width: 90vw;
    height: 100vh;
    position: absolute;
  }
  .input-div {
    width: 80vw;
  }
  #menuBar {
    display: block;
  }
  .right {
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
  .chat-box {
    min-width: 100vw;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}


.highlight {
  background-color: yellow;
  color: #000000;
  cursor: crosshair;
}
.selected{
  background-color: #e2ee36;
  color: #000000;

}
.unselected{
  background-color: #000000;
  color: #ffffff;
 
}
#resetSync{
  background-color: #000000;
  color: #ffffff;
}







